
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.App {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

header {
  display: block;
}

h1 {
  position: absolute;
    top: -80px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}


@media (max-width: 600px) {
  header {
    font-size: 1.3rem;
    min-height: 8vh;
    margin: 30px 0 auto;
  }
  
  form {
    min-height: 20vh;

    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .todo-input {
    width: 80%;
  }

  .input {
    width: 100%;
  }

  form input,
  form button {
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .todo-list {
    min-width: 70%;
    max-width: 85%;
    list-style: none;
  }

  .todo {
    font-size: 1rem;
    margin-top: -5px;
  }

}









