.select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  margin-top: -10px;
}

.filter-todo {
  display: flex;
  gap: 10px; 
  padding: 1rem;  
}

.filter-todo p {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.filter-todo p.active {
  border: 1px solid rgb(225, 155, 155);
}

.clear-complete {
  cursor: pointer;
}
  